*{
    margin: 0;
    padding: 0;
}
.head{
    padding-bottom: 3px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #060047;
}
.container{
    margin: 20px auto;
    height: 400px;
    width: 400px;
    background-color: #4D455D;
    position: relative;
    display:grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-rows: auto auto auto;
    grid-template-columns:auto auto auto;
}
.item{
    background-color: #E96479;
    border:2px solid black;
    background-size: cover;
}
.result{
    margin: 20px auto;
    padding-top: 12px;
    height: 80px;
    width: 400px;
    text-align: center;
    font-size: xx-large;
    background-color: #7DB9B6;
    border:2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}